:root {
    --dsage: #5f6f52;
    --lsage: #a9b388;
    --cream: #fefae0;
    --navy: #1b515e;
    --sky: #55c4df;
    --cry: #92e5d6;
    --bluegreen: #338275;
    --seafoam: #88b990;
    --lseafoam: #abcd9e;
    --mint: #b6d297;
    --lmint: #d1e4bc;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--cream);
    color: var(--navy);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
header, footer {
    background-color: var(--dsage);
    color: var(--cream);
    padding: 1rem;
    text-align: center;
}
header {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
footer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

ul {
    list-style-type: none;
}
li {
    display: inline-block;
    color: var(--lmint)
}
li a {
    margin: 0 1rem;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
}

li a:hover {
    color: var(--seafoam);
}

img {
    width: 100%;
    border-radius: 10px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
}
  
section {
    background-color: var(--lseafoam);
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    width: 90%;
    box-sizing: border-box;
}

h1, h2 {
    color: var(--cream);
    text-align: center;
}
h3{
    padding-top: 0px;
    margin-top: 0px;
}

label{
    display: block;
}
input, textarea {
    color: var(--navy);
    background-color: var(--cream);
    border: 2px solid gray;
    border-radius: 4px;
    font-size: 18px;
}
textarea {
    width: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

footer p{
    text-align: center;
    color: var(--lsage);
    font-size: smaller;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 12px;
    background-color: var(--cry);
    color: var(--navy);
    border-radius: 10px;
    border: 2px solid var(--navy);
}
.project h3 {
    font-size: 48px;
    margin-bottom: 0;
}
.project a {
    color: var(--navy);
}
.project p {
    color: var(--navy);
    text-align: center;
    font-weight: bold;
}
.project img {
    width: 75%;
}
#gft {
    padding: 10px;
    border-width: 5px;
    border-color: #000;
    border-style: double;
}
#ii {
    border: 2px solid #000;
}

.resSkills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.resSkills li {
    padding-left: 12px;
    padding-right: 12px;
    color: var(--cream);
}

.homely {
    display: flex;
    flex-direction: row;
}

p {
    color: var(--cream);
}

.left {
    float: left;
    margin-right: 25px;
}

.right {
    float: right;
    margin-left: 25px;
}

.homeMain {
    width: 75%;
    display: flex;
    margin-left: 20px;
}

.xtran {
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--lseafoam);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.ff {
    margin-bottom: 32px;
    color: var(--cream);
}
.ff h3 {
    margin-bottom: 10px;
    text-align: center;
}
.ff img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.submain {
    margin-bottom: 20px;
    padding: 50px;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: (--cream);
    border-radius: 25px;
}
.submain img {
    max-height: 200px;
    max-width: fit-content;
}
.submain h2 {
    color: var(--cream);
    margin-bottom: 20px;
    font-size: 36px;
}
#sm1 {
    background-color: var(--navy);
    margin-top: 20px;
}
#sm2 {
    background-color: var(--bluegreen);
}
#sm3 {
    background-color: var(--seafoam);
}

.super-cool {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}