:root {
    --dsage: #5f6f52;
    --lsage: #a9b388;
    --cream: #fefae0;
    --navy: #1b515e;
    --sky: #55c4df;
    --cry: #92e5d6;
    --bluegreen: #338275;
    --seafoam: #88b990;
    --lseafoam: #abcd9e;
    --mint: #b6d297;
    --lmint: #d1e4bc;
}
  
body {
    font-family: Arial, sans-serif;
    background-color: var(--cream);
    color: var(--navy);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 10vw;
}
  
header, footer {
    background-color: var(--dsage);
    color: var(--cream);
    padding: 1rem;
    text-align: center;
    min-width: 100vw;
}
header {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
footer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

ul {
    list-style-type: none;
}
li {
    display: inline-block;
    color: var(--lmint)
}
li a {
    margin: 0 1rem;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
}

li a:hover {
    color: var(--seafoam);
}

img {
    width: 100%;
    border-radius: 10px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
  
section {
    background-color: var(--lseafoam);
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}
  
h1, h2 {
    color: var(--cream);
    text-align: center;
}
h3{
    padding-top: 0px;
    margin-top: 0px;
}

label{
    display: block;
}
input, textarea {
    color: var(--navy);
    background-color: var(--cream);
    border: 2px solid gray;
    border-radius: 4px;
    font-size: 18px;
}
textarea {
    width: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.project {
    margin: 10px;
    padding: 12px;
    background-color: var(--cry);
    border-radius: 10px;
    border: 2px solid var(--navy);
}
.project a {
    color: inherit;
}